<div class="main portfolio">
    <!-- <div class="jumbotron slideshow">
            <ul>
                <li><img alt="Slide01" src="/assets/works/kickstart.jpg"></li>
                <li><img alt="Slide02" src="/assets/works/undaground-test.jpg"> </li>
                <li><img alt="Slide03" src="/assets/works/vr-research.jpg"></li>
                <li><img alt="Slide04" src="/assets/works/flashcards.jpg">  </li>
                <li><img alt="Slide05" src="/assets/works/tourdenoog.jpg"></li>
            </ul>
    </div> -->

    <div class="container">
        <div class="row">
            <a class="col-md-6 project" href="http://undaground-testsite.s3-website-us-east-1.amazonaws.com/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/undaground-test.jpg" %>
                </div>
                <h3>undaground - Marketing Site</h3>
                <p><b>Project Lead (WIP - 2017)</b></p>
                <p>Lead development for updated 2017 marketing site for the undaground brand. Key highlights include header video, responsive queries, and connection to Google Forms.</p>
                <p><b>Tech Used:</b> HTML, CSS/SASS, Bootstrap, Flexbox, JQuery, JS, AJAX, GoogleDocs API, AWS(S3)</p>
            </a>
            <a class="col-md-6 project" href="https://shrouded-aries.glitch.me/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/vr-research.jpg" %>
               </div>
                <h3>VR Research Project</h3>
                <p><b>Project Lead (WIP - 2017)</b></p>
                <p>Devulged into research and implemention of Live VR and Web-Based VR Photos for interactive sites and live streams.</p>
                <p><b>Tech Used:</b> Orah 4i(hardware), RTMP Streaming, A-Frame (VR Framework), Photoshop (Spherical Images)</p>
            </a>

        </div>
        <div class="row">
            <a class="col-md-6 project" href="https://davecastlevania.github.io/jumpstart/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/kickstart.jpg" %>
                </div>
                <h3>codecademy - Jumpstart</h3>
                <p><b>Consultant (2017)</b></p>
                <p>Worked with learners on building a template for a crowdfunding website using front-end developement techniques such as JQuery sliders.</p>
                <p><b>Tech Used:</b> HTML, CSS, Bootstrap, JS, JQuery, Git, AWS(S3)</p>
            </a>
            <a class="col-md-6 project" href="https://davecastlevania.github.io/MatchGame/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/matchgame.jpg" %>
               </div>
                <h3>codecademy - Match Game</h3>
                <p><b>Consultant (2017)</b></p>
                <p>Guided learners on building MatchGame project that enforced practicing control flow through if/else statements and a card game.</p>
                <p><b>Tech Used:</b> Javascript, JQuery, HTML, CSS, Bootstrap, AWS(S3), Git</p>
            </a>

        </div>
        <div class="row">
            <a class="col-md-6 project" href="https://davecastlevania.github.io/FlashCards/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/flashcards.jpg" %>
                </div>
                <h3>codecademy - JS Flashcards</h3>
                <p><b>Consultant (2017)</b></p>
                <p>Collaborated with learners on practice project building flashcards for Javascript terms using pure JS and JQuery.</p>
                <p><b>Tech Used:</b> HTML, CSS, Bootstrap, JS, JQuery, JSON Data, Git</p>
            </a>
            <a class="col-md-6 project" href="https://davecastlevania.github.io/secretagentsupplyco/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/secretagent.jpg" %>
               </div>
                <h3>codecademy - SecretAgent</h3>
                <p><b>Consultant (2017)</b></p>
                <p>Collaborated with learners to implement a template for an e-commerce website focusing primary on CSS3 responsive principles such as Flexbox model and Media Queries.</p>
                <p><b>Tech Used:</b> HTML, CSS, Flexbox, Git</p>
            </a>

        </div>
        <div class="row">
            <a class="col-md-6 project" href="https://davecastlevania.github.io/ColCad/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/colmar.jpg" %>
                </div>
                <h3>codecademy - Colmar</h3>
                <p><b>Consultant (2017)</b></p>
                <p>Worked with students on final project building a responsive website template from scratch for an educational institute  using only CSS3 and Flexbox.</p>
                <p><b>Tech Used:</b> HTML, CSS, Flexbox, Git</p>
            </a>
            <a class="col-md-6 project" href="https://davecastlevania.github.io/litebrite/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/litebrite.jpg" %>
               </div>
                <h3>codecademy - Litebrite</h3>
                <p><b>Consultant (2017)</b></p>
                <p>Worked with learners on implementing a litebright website where they could change the state of individual lights using only pure JS and JQuery.</p>
                <p><b>Tech Used:</b> JS, JQuery, HTML, CSS, Bootstrap, Git</p>
            </a>

        </div>
        <div class="row">
            <a class="col-md-6 project" href="http://superjuices.co/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/superjuice.jpg" %>
                </div>
                <h3>Superjuices.co</h3>
                <p><b>Consultant (2017)</b></p>
                <p>Collaborated with MasterApp, LLC for consulting on devloping a marketing site and menu for Juice bar launching in Chattanooga in 2017.</p>
                <p><b>Tech Used:</b> HTML, CSS, Bootstrap, AWS(Route53), Squarespace</p>
            </a>
            <a class="col-md-6 project" href="http://hunt.undaground.co/#/">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/undahunt.jpg" %>
               </div>
                <h3>undaground - Scavenger Hunt</h3>
                <p><b>Project Lead (Oct 2016)</b></p>
                <p>undaground project implmenting a simple web app for marketing a scavenger hunt online using JSON data and encouraging users to post photos online.</p>
                <p><b>Tech Used:</b> AngularJS, HTML, CSS, Bootstrap, JS, JSON, AWS(S3, Route53).</p>
            </a>

        </div>
        <div class="row">
            <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/undanet.jpg" %>
               </div>
                <h3>undaground - undanet</h3>
                <p><b>Lead Dev (WIP - 2016)</b></p>
                <p>Put together a test web application that curators could use to upload content for the iOS/Android app to consume from a database.</p>
                <p><b>Tech Used:</b> Ruby on Rails, HTML/CSS, Devise(Ruby), SQLite, Bootstrap, Heroku</p>
            </a>
            <a class="col-md-6 project" href="https://davecastlevania.github.io/NearMe" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/nearme.jpg" %>
                </div>
                <h3>codecademy - NearMe</h3>
                <p><b>Consultant (2016)</b></p>
                <p class="lang">Collaborated with learners on building an Angular webapp that uses JSON Geodata to locate nearby points of interest.</p>
                <p class="lang"><b>Tech Used:</b>JS, JQuery, Angular 1.x, JSON API, AWS(S3), HTML/CSS, Bootstrap, Git</p>
            </a>
        </div>
        <div class="row">
            <a class="col-md-6 project" href="https://davecastlevania.github.io/reader" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/reader.jpg" %>
               </div>
                <h3>codecademy - Reader</h3>
                <p><b>Consultant (2016)</b></p>
                <p>Collaborated with learners to build and implemenet an Angular 1.x based webapp that displays information about particular books using JSON API data.</p>
                <p><b>Tech Used:</b> HTML/CSS, Bootstrap, Angular 1.x, Javascript, JSON API, AWS(S3) Git</p>
            </a>
            <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/undaground-ghost.jpg" %>
                </div>
                <h3>undaground - News Blog</h3>
                <p><b>Project Lead (2016)</b></p>
                <p class="lang">Implemented a simple markdown based blog using NodeJS + Ghost to promote local content and news related to culture and music.</p>
                <p class="lang"><b>Tech Used:</b> JS, JQuery, NodeJS, Handlebars(HBS), Ember, GhostJS, MongoDB, AWS(S3, EC2, Route53), HTML/CSS, Bootstrap, Google Analytics, Mixpanel, Git</p>
            </a>
        </div>
        <div class="row">
            <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/undagroundapp.jpg" %>
                </div>
                <h3>undaground - iOS/Android app</h3>
                <p><b>Project Lead (2016 - Current)</b></p>
                <p class="lang">Collaborated with designers, mentors, and other developers on cross platform streaming app. Launched app into private beta on Testflight/Google Play using guidance from CoLab Accelerator on LEAN and SCRUM methods from CoLab accelerator.<br/><b>App in closed beta w/ incremental updates</b>.</p>
                <p class="lang"><b>Tech Used:</b> HTML5, CSS/SASS, JS(ES5/ES6), NodeJS, SQL, JSON, Angular 1/2, Ionic, Cordova, Gulp, Typescript, PHP, Ruby/Rails, JSON, XML, Mixpanel Tracking, Android Studio, XCode, REST APIs, Linux(Ubuntu), RTMP Streaming, Shoutcast, LiquidSoap(OCaml), Python, RabbitMQ, Git, AWS(S3, Cloudfront, EC2, Route 53), Adobe PSDs, Invision, Adobe XD.</p>
            </a>
            <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/superjuiceapp.png" %>
               </div>
                <h3>Superjuices - Web/iOS/Android</h3>
                <p><b>Consultant (Dec 2016 - April 2017)</b></p>
                <p>Consulted MasterAppStudios, LLC on developing a hybrid app for web, Android. App is finishing up development with MasterAppStudios.</p>
                <p><b>Tech Used:</b> NodeJS, MongoDB, Express, JS(ES6), Typescript, Angular2, HTML, CSS/SASS, Bootstrap, JSON, REST API, Ionic2/Cordova, Wordpress, Woocommerce.</p>
            </a>

        </div>
        <div class="row">
            <a class="col-md-6 project" href="https://davecastlevania.github.io/speakeasy/" target="_blank">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/speakeasy.jpg" %>
                </div>
                <h3>codecademy - Speakeasy</h3>
                <p><b>Consultant (2016)</b></p>
                <p class="lang">Assisted many learners in building JS/JQuery based to-do list that responds to voice commands using web based speech recognition.</p>
                <p class="lang"><b>Tech Used:</b> HTML/CSS, Bootstrap, JS, JQuery, annyang library.</p>
            </a>
            <a class="col-md-6 project" href="http://undaground.co/landing/injii-run/" target="_blank">
                  <div class="thumbnail-header">
                      <div class="thumbnail-header-btn"></div>
                      <div class="thumbnail-header-btn"></div>
                      <div class="thumbnail-header-btn"></div>
                  </div>
                  <div class="thumbnail">
                    <%= image_tag "works/undaground-ad.jpg" %>
                  </div>
                  <h3>undaground - Embeded Ad</h3>
                  <p><b>August 2016</b></p>
                  <p>A simple animated ad built in SASS for use of embedded ad on Injii.com.</p>
                  <p><b>Tech Used:</b> HTML, CSS, SASS, SVGs, AWS(S3)</p>
            </a>

        </div>
        <div class="row">
          <a class="col-md-6 project" href="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/undaground-gogs.jpg" %>
                </div>
                <h3>undaground - Private Git</h3>
                <p><b>2016</b></p>
                <p>Implemented a Github like private interface for tracking all undaground digital assets through a private open source Git server based on GoLang.</p>
                <p><b>Tech Used:</b> HTML, CSS, GoLang, GOGS, DigitalOcean, Git</p>
          </a>
          <a class="col-md-6 project" href="https://stories-rails.herokuapp.com/" target="_blank">
              <div class="thumbnail-header">
                  <div class="thumbnail-header-btn"></div>
                  <div class="thumbnail-header-btn"></div>
                  <div class="thumbnail-header-btn"></div>
              </div>
              <div class="thumbnail">
                <%= image_tag "works/stories.jpg" %>
             </div>
              <h3>codecademy - Stories</h3>
              <p><b>Consultant (2016)</b></p>
              <p>Collaborated with learners on guidance for building basic rails app for marketing a stories based application.</p>
              <p><b>Tech Used:</b> HTML/CSS, Bootstrap, Ruby, Ruby On Rails, JS, JQuery, Heroku</p>
          </a>

        </div>
        <div class="row">
          <a class="col-md-6 project" href="https://vimeo.com/61792820/" target="#">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/tourdenoog.jpg" %>
                </div>
                <h3>TourDeNoog - AR Project</h3>
                <p><b>Project Lead (April 2014)</b></p>
                <p class="lang">Implemented an augmented reality based bike tour that combined large scale art muruals and music using the LayAR API and GeoLocation data.</p>
                <p><b>Tech Used:</b> JS, JSON GeoLocation Data, LayAR API, Android, iOS</p>
          </a>
          <a class="col-md-6 project" href="http://thissongissick.com" target="_blank">
              <div class="thumbnail-header">
                  <div class="thumbnail-header-btn"></div>
                  <div class="thumbnail-header-btn"></div>
                  <div class="thumbnail-header-btn"></div>
              </div>
              <div class="thumbnail">
                <%= image_tag "works/tsis.png" %>
               </div>
              <h3>ThisSongIsSick.com</h3>
              <p><b>Lead Developer (2012-2015)</b></p>
              <p>Helped maintain and secured wordpress site for a Denver, CO based startup. Implemented responsive ad system, and researched new WP alternatives.</p>
              <p class="lang"><b>Tech Used:</b> HTML, CSS, Foundation, PHP, SQL, Linux, phpMyAdmin, nodeJS, Javascript, NodeJS, KeystoneJS, FacebookAPI, AdSenseAPI, CloudFlare, Ruby on Rails, Soundcloud API</p>
          </a>
        </div>
        <div class="row">
            <a class="col-md-6 project" href="http://heathwillshomes.com/" target="none">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/heathwills.png" %>
                </div>
                <h3>Heath Wills Homes</h3>
                <p><b>Developer (2014)</b></p>
                <p>Help launch website for new Home Design business using Wordpress based solution and bootstrap for different projects and designs.</p>
                <p><b>Tech Used:</b> HTML, CSS, JS/JQuery, PHP, SQL, Linux, Wordpress, Bootstrap</p>
            </a>
            <a class="col-md-6 project" href="http://octalsound.com" target="none">
                <div class="thumbnail-header">
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                    <div class="thumbnail-header-btn"></div>
                </div>
                <div class="thumbnail">
                  <%= image_tag "works/octal.jpg" %>
                </div>
                <h3>OctalSound</h3>
                <p><b>Digital Projects (2011-2013)</b></p>
                <p>Help launch digital strategies for a Nashville based record label that managed over 10 artists.</p>
                <p><b>Tech Used:</b> HTML, CSS, Bootstrap, Linux, Wordpress, GoogleAppsSuite, Google Analytics, Hive.co (Social Media Management)</p>
            </a>
        </div>
    </div>
</div>


<script>
    $(function() { $('.slideshow').unslider({
        autoplay: true,
        speed: 750,
        delay: 5000,
        arrows: true
        })
      })
</script>
